*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
   
}
body,html{
width: 100%;
height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #EEF0F4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    justify-content: center;
    gap: 20px;
}

img{
    width: 65%;
    margin: auto;
}

ul{
  
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   
}
li{
    flex-grow: 1;
   font-size: 16px;
   font-weight: 500;
   background-color: #FFFDF8;
   list-style: none;
   padding: 10px 20px;
   border-radius: 5px;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}



input{
    padding: 10px 24px;
    color: #432000;
    background-color: #DCE1EB;
   border: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    outline:none;
}


/* button css */

.CartBtn {
    padding: 15px;
    border-radius: 8px;
  
    border: none;
    background-color: #AC485A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }
  
  .IconContainer {
    position: absolute;
    left: 20px;
    /* left: -50px; */
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .IconContainer svg path {
    fill: #FDFDFD; /* Change this to the desired color for the icon */
  }
  
  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FDFDFD; /* Change this to the desired color for the text */
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
  
  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }
  